* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    color: #0f0e0e;
  display: flex;
  flex-direction: column;
}

main#app {
  flex: 1; 
}


body nav {
  justify-content: right;
  padding: 20px;
}

.form label {
  text-align: left;
}

nav {
    background-color: #a1a7e3;
  display: flex;
  gap: 25px;
  margin-bottom: 45px;

}

nav button {
  background: #2f3578;
  color: rgb(240, 241, 244);
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.2s;
}

nav button:hover {
  background: #081d55;
}

.page {
  margin-top: 30px;
  margin: 85px;
  border-radius: 10px;
  padding: 20px;
}

.page h1 {
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 300px;
  margin: 15px auto;    
  max-width: 500px;     
  padding: 20px;       
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 8px 11px rgba(0,0,0,0.1); 
}

.form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.form input {
  padding: 8px;
  border: 1px solid #070707;
  border-radius: 8px;
}

.form input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  background-color: #28a745;
  color: rgb(246, 243, 243);
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  width: 120px;
  margin: 50px auto 0 auto; 
  display: block;
}


.btn:hover {
  background-color: #218838;
}

.feedback {
  margin-top: 10px;
  font-weight: bold;
  background-color: #ecedf3;

}


.user-list {
  
list-style: none;
text-align: left;
  margin-top: 5px;
  border-radius: 10px; color: rgb(0, 0, 0);
  border-bottom: #f8f8f8;
  padding: 10px;
}

.user-list li {
  background: #edeaea;
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 5px;
}

.rodape {

  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
  font-size: 0.9em;
  background-color: #a1a7e3;
  color: #121010;
  width: 100%;
}

.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #e74c3c;
  transition: transform 0.2s, color 0.2s;
}

.delete-btn:hover {
  color: #c0392b;
  transform: scale(1.2);
}

.user-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #edeaea;
  padding: 8px 10px;
  border-radius: 6px;
  margin-bottom: 5px;
}

